.header{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: red;
    background-color: black;
    background-repeat: no-repeat;
    background-size: auto;
    border: 1px solid black;
    padding: 50px;
    

}

.user{
    color:black;
    position: relative;

}

header{
    background-color: red;
    color: black;
    font-size: x-large;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    
}

.sidebar{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    
    
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    padding: 25px;
    background-color: whitesmoke;
}

body{
    background-color: antiquewhite;
}

p{
    font-size: large;
    display: flex;
    align-items: center;

}

.snippet-title{
    margin: 5px auto;
    color: rgb(0, 8, 255);
    background-color: whitesmoke;
    padding: 20px 30px;
    padding-bottom: 15px;
    width: 600px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
