{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}


{% block content %}
    
    <h1 class="header">Snippet List</h1>
    
    <div class="container">
    <article class="snippet-box">
        <h2> <a>Snippets:</a></h2>
        {% for snippet in snippets %}
        <div class="snippet-box">
            <a class="snippet-title" href="{% url 'snippet_detail' pk=snippet.pk %}"> {{ snippet }} </a>
        </div>

            
        {% endfor %}
    
    </article>
    </div>


{% endblock %}