{% extends 'base.html' %}

{% block content %}
    <h1 class="author">{{ snippet.author }}'s Snippet</h1>
    <h3>Description:</h3> 
        <p>{{ snippet.description }}</p>
    <h3>Language:</h3>
        <p>{{ snippet.language }}
    <h3>Code Example:</h3>
        <p>{{ snippet.code }}</p>

    <aside class="actions">
        <div class="edit">
            <a class="btn btn-secondary" href="{% url 'snippets_edit' pk=snippet.pk %}">
                {% include 'snippets/icons/bootstrap/pencil-fill.svg' %}
        </a>
        </div>
        <div class="delete">
            <a class="delete-button" href="{% url 'delete_snippet' pk=snippet.pk %}">
                {% include 'snippets/icons/bootstrap/trash.svg' %}
            </a>
        </div>
        <div class="copy">
            <a href="{% url 'copy_snippet' pk=snippet.pk %}">Duplicate</a>
        </div>
    </aside>
{% endblock %} 